@model IEnumerable<Product>
<div class="container mt-3">

    <h1 class="text-center">Products</h1>
    <div class="table-responsive pt-3 mt-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                                <img src="~/assets/img/@item.Images.FirstOrDefault(m=>m.IsMain)" alt="Main Product Image" style="width:100px;height:100px;" />

                        </th>
                        <th>
                            @item.Name

                        </th>
                        <th>
                            @item.Price

                        </th>
                        <th>
                            @foreach (var productCategory in item.ProductCategories)
                            {
                                @productCategory.Category?.Name
                                <br />
                            }

                        </th>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>

                    </tr>

                }
            </tbody>
        </table>



    </div>
</div>