@model IEnumerable<Product>
<div class="container mt-3">

    <h1 class="text-center">Products</h1>
    <div class="create-area">
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
    <div class="table-responsive pt-3 mt-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Images != null && item.Images.Any(m => m.IsMain))
                            {
                                var mainImage = item.Images.FirstOrDefault(m => m.IsMain);
                                if (mainImage != null)
                                {
                                    <img src="@Url.Content("~/assets/img/" + mainImage.Image)" style="width:150px;height:100px" alt="image">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/assets/img/default.png")" style="width:150px;height:100px" alt="default image">
                                }
                            }
                            else
                            {
                                <img src="@Url.Content("~/assets/img/default.png")" style="width:150px;height:100px" alt="default image">
                            }
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @foreach (var productCategory in item.ProductCategories)
                            {
                                @productCategory.Category?.Name
                                <br />
                            }
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
